
.table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}

.list-enq-name {
    display: block;
    font-weight: 500;
    color: #263238;
}
.icon{
    font-size: 11px;
}