<div class=" pt-0 pb-5 mb-3 border-bottom">
</div>
<h2 class="mb-4">DashBoard</h2>

<div class="ad-v2-hom-info">
    <div class="ad-v2-hom-info-inn">
        <ul>
            <li>
                <div class="ad-hom-box ad-hom-box-1">
                    <span class="ad-hom-col-com ad-hom-col-1"> <i>
                            <fa-icon [icon]="faUsers"></fa-icon>
                        </i></span>
                    <div class="ad-hom-view-com">
                        <p>Users</p>
                        <h1>{{UsersLenght}}</h1>
                    </div>
                </div>
            </li>
            <li>
                <div class="ad-hom-box ad-hom-box-2">
                    <span class="ad-hom-col-com ad-hom-col-2"><i>
                            <fa-icon [icon]="faHeart"></fa-icon>
                        </i></span>
                    <div class="ad-hom-view-com">
                        <p><i class="fa  fa-arrow-up up"></i>Liks</p>
                        <h1>{{LiksLenght}}</h1>
                    </div>
                </div>
            </li>
            <li>
                <div class="ad-hom-box ad-hom-box-3">
                    <span class="ad-hom-col-com ad-hom-col-3"><i>
                            <fa-icon [icon]="faNewspaper"></fa-icon>
                        </i></span>
                    <div class="ad-hom-view-com">
                        <p><i class="fa  fa-arrow-up up"></i>Articles</p>
                        <h1>{{ArticalsLenght}}</h1>
                    </div>
                </div>
            </li>
            <li>
                <div class="ad-hom-box ad-hom-box-4">
                    <span class="ad-hom-col-com ad-hom-col-4"><i>
                            <fa-icon [icon]="faSuitcaseRolling"></fa-icon>
                        </i></span>
                    <div class="ad-hom-view-com">
                        <p><i class="fa  fa-arrow-up up"></i>Trips</p>
                        <h1>{{TripsLenght}}</h1>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
